.header
  display: flex
  justify-content: space-between
  align-items: center
  min-height: header-height
  padding: 5px 10px
  border: 2px solid black

.header__text
  flex-grow: 1
  text-align: center
  margin: 0 10px