.page
  position: relative
  display: flex
  flex-direction: column
  min-height: 100vh
  background-color: blue

.page__header
  position: sticky
  top: 0
  z-index: 100
  width: base-width
  background-color: blue

.page__main
  display: flex
  flex-direction: column
  flex-grow: 1
  max-width: 100%
  min-height: "calc(100vh - %s - %s)" % (header-height footer-height)
  border-left: 2px solid black
  border-right: 2px solid black

.page__aside
  position: absolute
  top: header-height
  bottom: 0
  z-index: -1
  width: aside-width
  padding: 10px
  background-color: grey
  border: 2px solid black
  transition-duration: 0.5s
  
  &--left
    left: - aside-width
  
  &--right
    right: - aside-width

.page__footer
  max-width: 100%
  min-height: footer-height
  padding: 5px 10px
  border: 2px solid black