// Основные цвета проекта
white = #ffffff
blue = #cfe2f3
violet = #dad2e9
grey = #d9d9d9
black = #000000

// Основные размеры макета
base-width = 1024px
header-height = 40px
aside-width = 300px
main-aside-width = 200px